---
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
	lang="en"
	class="scroll-smooth snap-y snap-mandatory h-screen overflow-y-scroll"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="WeddingNuts - The Grand Indian Wedding. The Smartest Way to Plan It."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- FontAwesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>

		<title>{title}</title>
	</head>
	<body class="font-sans text-gray-800 bg-gray-50 antialiased">
		<slot />
	</body>
</html>
